[package]
name = "x86_vcpu"
version = "0.1.0"
edition = "2024"

[dependencies]
log = "0.4.19"
cfg-if = "1.0"
bitflags = "2.2"
bit_field = "0.10"
paste = "1.0.15"
x86 = "0.52"
x86_64 = "0.15"
raw-cpuid = "11.0"
numeric-enum-macro = "0.2"

axerrno = "0.1.0"
page_table_entry = "0.5"
memory_addr = "0.3.1"
crate_interface = "0.1"

axaddrspace = { git = "https://github.com/arceos-hypervisor/axaddrspace.git" }
axvcpu = { git = "https://github.com/arceos-hypervisor/axvcpu.git" }
x86_vlapic = { git = "https://github.com/arceos-hypervisor/x86_vlapic.git" }
axdevice_base = { git = "https://github.com/arceos-hypervisor/axdevice_crates.git" }
axvisor_api = { git = "https://github.com/arceos-hypervisor/axvisor_api.git" }

[features]
default = ["vmx"]
tracing = []
vmx = []
amd = []
